@font-face {
    font-family: "Rijksoverheid Sans";
    font-weight: normal;
    src: url('/static/fonts/rijksoverheidsanswebtext-regular-webfont.woff2')
}

@font-face {
    font-family: "Rijksoverheid Sans";
    font-weight: bold;
    src: url('/static/fonts/rijksoverheidsanswebtext-bold-webfont.woff2')
}

@font-face {
    font-family: "Rijksoverheid Sans";
    font-style: italic;
    src: url('/static/fonts/rijksoverheidsanswebtext-italic-webfont.woff2')
}

body {
    font-family: "Rijksoverheid Sans", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* walled-garden_footer is currently pushing outside the borders */
    overflow-x: hidden;
}

.walled-garden_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.walled-garder_top {
    height: 80px;
}

.gov-logo {
    margin-left: -25px;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    height: 70px;
}

.walled-garden_main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.walled-garden_bar {
    background-color: #e17000;
    min-height: 48px;
    align-self: stretch;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
}

.walled-garden_title {
    color: #fff;
    line-height: 48px;
    font-size: 20px;
    margin: 0px;
    flex: 1;
    max-width: 1200px;
}

.walled-garden_banner {
    width: 100%;
    background-size: cover;
    background-image: url('/static/banner.jpg');
}

@media (max-width: 768px) {
    .walled-garden_banner {
        min-height: 200px;
    }
}

@media (min-width: 769px) and (max-width: 1280px) {
    .walled-garden_banner {
        min-height: 240px;
    }
}

@media (min-width: 1281px) {
    .walled-garden_banner {
        min-height: 320px;
    }
}

.walled-garden_footer {
    display: flex;
    justify-content: center;
}

.walled-garden_pleio-link {
    max-width: 1200px;
    flex: 1;
    padding: 0px 40px;
}

.walled-garden_pleio-link a {
    font-size: 14px;
    line-height: 22px;
    color: #767676;
    text-decoration: none;
}

.walled-garden_buttons {
    display: flex;
    justify-content: center;
}


.button {
    line-height: 36px;
    padding: 0 15px;
    font-size: 14px;
    background-color: #01689b;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    cursor: pointer;
}
