{% load static %}
<!DOCTYPE html>
<html lang="nl">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Defensieacademie (NLDA)</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" size="192x192" href="{% static 'touch-icon.png' %}">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="{% static 'favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#da532c">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="version" content="1.0.0">
    <meta name="relative-path" content="">

    <link href="{% static 'web.css' %}" rel="stylesheet" type="text/css">
</head>

<body style="background:white;">
    <header class="page-layout__header walled-garden_header">
        <div class="walled-garden_header-top">
            <img class="gov-logo" src="{% static 'logo.svg' %}" alt="Logo van het Ministerie van Defensie" />
        </div>
        <div class="walled-garden_bar">
            <h1 class="walled-garden_title">
                Elektronische leeromgeving Nederlandse Defensieacademie (NLDA)
            </h1>
        </div>
        <div class="walled-garden_banner" title="Officieren met bul onder de arm]"></div>
    </header>
    <main class="page-layout__main walled-garden_main">
        <div class="walled-garden_content">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer class="walled-garden_footer">
        <div class="content">
            {% block footer %}{% endblock %}
        </div>
        <div class="walled-garden_pleio-link">
            <a href="https://www.pleio.nl/" target="_blank">
                www.pleio.nl
            </a>
        </div>
    </footer>
</body>

</html>
