{% extends "base.html" %}

{% block content %}
<form class="">
    <div class="walled-garden_buttons">
        <a href="{% url 'oidc_authentication_init' %}" class="button ___medium" rel="nofollow">Log in via SurfConext</a>
    </div>
</form>
{% endblock %}
